## Exercice méthode groupby

Soient les deux séries suivantes **fruits** et **weights**, calculez la moyenne des poids de chaques fruits. Utilisez la méthode **groupby**, elle permet de regrouper (agréger) des valeurs. Cette méthode ignorera les valeurs manquantes.

In [66]:
import pandas as pd
import numpy as np

fruits = np.random.choice(['banana', 'apple', 'raspberry'], 15)

weights = np.linspace(1.0, 2.0, 15)

df = pd.Series(weights, index=fruits)

df = pd.DataFrame({'Fruit': fruits,
                  'Weight': weights})

Retournez tous les poids du fruit "banana".

In [67]:
df[df['Fruit'] == 'banana']

     Fruit    Weight
0   banana  1.000000
1   banana  1.071429
2   banana  1.142857
4   banana  1.285714
9   banana  1.642857
10  banana  1.714286
13  banana  1.928571

Donnez également le nombre de bananes.

In [68]:
df[df['Fruit'] == 'banana'].count()

Fruit     7
Weight    7
dtype: int64


Quelle est le fruit qui a la somme de ses poids la plus élevée ?

In [69]:
W = df.groupby(['Fruit']).mean()

max(W['Weight'])

1.7857142857142856


Ordonnez par somme des poids les fruits.

In [76]:
W.sort_values(by=['Weight'], ascending=False)

             Weight
Fruit
raspberry  1.785714
apple      1.561224
banana     1.397959