## Exercice création de DataFrame

Créez les DataFrames suivants :

1. DataFrame **fruits1**

```txt
---------------------------------
|   |   Rapsberry | Cherries    |
---------------------------------
| 0 |   30        |  20         |
---------------------------------
```

In [1]:
import pandas as pd

In [2]:
fruits1 = pd.DataFrame({
    'Rapsberry': [30],
    'Cherries': [20]
})

fruits1

   Rapsberry  Cherries
0         30        20

2. DataFrame **fruits2**

```txt
------------------------------------
|       |   fig       |     wine    |
------------------------------------
| 2020  |   130       |  120        |
------------------------------------
| 2019  |   309       |  290        |
------------------------------------
```

In [5]:
fruits2 = pd.DataFrame({
    'fig': [130, 309],
    'wine': [309, 290],
},
    index=['2020', '2019']
)

fruits2

      fig  wine
2020  130   309
2019  309   290