## Exercices manipulation des index & column

Remplacez à l'aide de la méthode replace de Pandas les données manquantes par np.nan de Numpy :

In [2]:
import pandas as pd

df = pd.DataFrame(
    [
        [1, "2", None, 3],
        [4, None, "5", 6],
        [7, 8, 9, 10],
        ["None", "", None, "NAN"],
    ],
    index=['a', 'b', 'c', 'd'],
    columns = ['A', 'B', 'C', 'D']
)

df

      A     B     C    D
a     1     2  None    3
b     4  None     5    6
c     7     8     9   10
d  None        None  NAN

In [8]:
def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False

df[df.applymap(isnumber)]

     A    B    C    D
a    1    2  NaN    3
b    4  NaN    5    6
c    7    8    9   10
d  NaN  NaN  NaN  NAN