## Exercice convertir un array Numpy en DataFrame

Redimensionnez la s√©rie suivantes en un DataFrame de dimension 3 lignes 5 colonnes, nommez les lignes a, b, c et les 5 colonnes avec d e f g h :

In [19]:
import pandas as pd
import numpy as np

A = pd.Series(np.random.randint(1, 10, 15))

A

0     9
1     9
2     9
3     9
4     2
5     1
6     6
7     4
8     6
9     9
10    7
11    8
12    1
13    1
14    4
dtype: int64

In [16]:
B = pd.DataFrame({
    'a': A[:5].values,
    'b': A[5:10].values,
    'c': A[10:].values,
},
    index=['d', 'e', 'f', 'g', 'h']
)

B

   a  b  c
d  6  6  8
e  3  8  6
f  6  7  7
g  7  5  6
h  8  2  3