## Exercice appliquer une fonction Ã  un DataFrame

Soit le DataFrame C suivant :

In [10]:
import pandas as pd
import numpy as np

C = pd.DataFrame( np.random.randn(5, 5), columns=list("abcde"), index=list("fghij" ))

C

          a         b         c         d         e
f  0.341826 -0.785203 -0.935189 -0.499722 -1.317138
g  0.583402 -1.194567  2.080981  0.298853  0.042853
h -1.126768 -1.242686 -0.106537 -0.083264 -0.903115
i -0.662757  0.877555  0.809306 -1.726019  0.245988
j  1.052968  2.363771 -1.952307  1.441065  0.446974

1. Mettez l'ensemble des valeurs en valeur absolue. Utilisez la fonction np.abs de Numpy.

In [11]:
C = np.abs(C)

C

          a         b         c         d         e
f  0.341826  0.785203  0.935189  0.499722  1.317138
g  0.583402  1.194567  2.080981  0.298853  0.042853
h  1.126768  1.242686  0.106537  0.083264  0.903115
i  0.662757  0.877555  0.809306  1.726019  0.245988
j  1.052968  2.363771  1.952307  1.441065  0.446974


2. Calculez l'amplitude des valeurs sur les lignes puis les colonnes. Vous pouvez utiliser la fonction apply sur le DataFrame.

In [19]:
C.apply(lambda x: np.max(x) - np.min(x))

a    0.784942
b    1.578569
c    1.974445
d    1.642755
e    1.274285
dtype: float64

In [20]:
C.T.apply(lambda x: np.max(x) - np.min(x))

f    0.975312
g    2.038128
h    1.159422
i    1.480030
j    1.916797
dtype: float64