## Exercice somme et remplacement

Soit le DataFrame suivant :

In [75]:
import pandas as pd
import numpy as np

C = pd.DataFrame( np.random.randn(5, 5), columns=list("abcde"), index=list("fghij"))

C

          a         b         c         d         e
f  0.927503 -1.546628 -0.817054 -1.543699 -0.464905
g -0.435859  0.182326  0.594094 -0.513762  0.831529
h  1.962212 -1.475166 -0.083693 -0.371199  0.445821
i -2.535374 -0.864202 -0.234370 -0.735963 -1.093418
j -2.310366 -0.373314 -0.273919 -0.516406  0.929757

1. Faites la somme de toutes les valeurs négatives de C.

In [76]:
C[['c']].where(C<0).sum()

c   -1.409035
dtype: float64

2. Remplacez dans la colonne b les valeurs négatives par la moyenne des valeurs positives de la colonne.

In [77]:
pos_mean = C[['b']].where(C>0).mean()[0]

C.loc[C['b'] < 0, 'b'] = pos_mean

C

          a         b         c         d         e
f  0.927503  0.182326 -0.817054 -1.543699 -0.464905
g -0.435859  0.182326  0.594094 -0.513762  0.831529
h  1.962212  0.182326 -0.083693 -0.371199  0.445821
i -2.535374  0.182326 -0.234370 -0.735963 -1.093418
j -2.310366  0.182326 -0.273919 -0.516406  0.929757