# Exercice slicing

In [2]:
import numpy as np

Soit m le tableau suivant :

In [3]:
m = np.random.randint(1, 5, (10,10))

1. Affichez les multiples de 3 de la première ligne du tableau m.

In [14]:
m[0][(m[0] % 3 == 0)]

array([3])

2. Affichez la deuxième colonne et faite la somme des nombres pairs de cette colonne.

In [35]:
mask_even = m[1] % 2 == 0
(m[1][mask_even]).sum()

20

3. Faites la somme des lignes puis des colonnes qui contiennent au moins un 1.

In [29]:
mask_one = np.isin(m, 1)
m[np.any(mask_one, axis=1)].sum()
# Si on ne voudrait que la somme des lignes extraites
m[np.any(mask_one, axis=1)].sum(1)

array([28, 30, 27, 24, 22, 26, 19, 26, 29])

In [30]:
# La matrice m.T est transposée, les lignes deviennents des colonnes
m.T[np.any(mask_one, axis=1)].sum()
m.T[np.any(mask_one, axis=1)].sum(1)

array([27, 28, 23, 27, 23, 30, 30, 29, 22])

4. Reprenez le tableax m et faite la somme de chaque colonne que vous placerez dans un tuple.

In [41]:
tuple(m.T.sum(1))

(27, 28, 21, 23, 27, 23, 30, 30, 29, 22)

5. Même consigne mais maintenant pour les lignes.

In [39]:
tuple(m.sum(1))

(28, 30, 29, 27, 24, 22, 26, 19, 26, 29)

6. Faites la somme des valeurs paires de la matrice.

In [47]:
m[(m % 2) == 0].sum()

164

7. Faites la somme des valeurs paires des colonnes.

In [51]:
columns = m.shape[1]
total = 0
for i in range(columns):
    column = m[:,i]
    total += column[column % 2 == 0].sum()
total

164

In [58]:
m.T[(m.T % 2) == 0].sum()

164

8. Calculez la moyenne des valeurs et l'écart type.

In [11]:
np.mean(m)

2.6

In [12]:
np.round(np.std(m), 2)

1.1

9. Créez un nouveau tableau à partir des valeurs paires de la matrice m

In [59]:
np.array(m[m % 2 == 0], copy=True)

array([2, 2, 4, 2, 4, 4, 4, 2, 4, 2, 4, 2, 4, 4, 4, 2, 4, 2, 4, 2, 2, 4,
       4, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 4, 2, 2, 2, 2, 4, 2, 4, 4, 2, 2,
       4, 4, 4, 4, 4, 2, 4, 4, 4, 2])