# Exercice augmentation
Soit le tableau suivant appliquez une augmentation de 10% sur chaque valeur paire du tableau suivant :

```py
prices = np.array([82, 92, 89, 65, 77, 66, 69, 65, 79, 51])
```


Indication : vous pouvez appliquer une fonction lambda avec un calcul simple sur le tableau lui-même. Pour filtrer les valeurs pairs utiliser la fonction np.where de Numpy

```py
rate = lambda x : x*1.1

rate(prices)
# Dans l'exemple suivant a est un tableau a > 2 est une condtion à vérifier sur toutes les valeurs du tableau et 1 et 0 les 
# valeurs à retourner en fonction de la condition si True 1 et False 0 :
np.where( a > 2, 1 , 0)
```

In [3]:
import numpy as np

In [21]:
prices = np.array([82, 92, 89, 65, 77, 66, 69, 65, 79, 51])
rate = lambda x: x * 1.1
prices = np.where(prices % 2 == 0, rate(prices), prices)
print(prices)

[ 90.2 101.2  89.   65.   77.   72.6  69.   65.   79.   51. ]

# Exercice minimum
Soit le tableau A suivant on cherche les valeurs minimales par ligne.

Nous aimerions à l'aide d'un script Python trouver tous les indices de tableau par ligne des minimaux et les enregistrer dans une liste de tuples comme dans l'exemple ci-dessous :

```py
A = np.array([
    [13, 22, 28, 66, 40],
    [16, 59, 37, 33, 28],
    [34, 98, 54, 48, 96],
    [13, 84, 93, 79, 76],
    [63, 50, 10, 69, 12]
])
```

## Liste des minimaux et leur position sur chaque ligne
```py
minTabLine = [(0, 13), (0, 16), (0, 34), (0, 13), (2, 10)]
```

In [48]:
def minTabLine(l):
    return [(np.amin(a), np.argmin(a)) for a in l]

A = np.array([
    [13, 22, 28, 66, 40],
    [16, 59, 37, 33, 28],
    [34, 98, 54, 48, 96],
    [13, 84, 93, 79, 76],
    [63, 50, 10, 69, 12]
])

print(minTabLine(A))

[(13, 0), (16, 0), (34, 0), (13, 0), (10, 2)]

# Exercice doublon
Dans le tableau suivant éliminer tous les doublons de lettres, voyez le tableau sanitize que nous aimerions avoir une fois votre script exécuté ci-dessous :

```py
a = np.array([
    ["aaabbfffhjik", "hhhkkkiooo", "hhjuuk"],
    ["rrrtttyyuuii", "rroooiiiuuu", "jjjhhhaa"],
    ["aaabbgghhh", "iiikkkooomml", "hhhiijjjuu"],
    ["hhhyyytttuu", "xxxnnnooii", "kkkjjjuuppp"],
    ["qqqfffgghhh", "qqqkkklll", "ooohhhjjj"],
])

sanitize = np.array([
       ['bfhajik', 'hiko', 'jhuk'],
       ['urity', 'urio', 'jha'],
       ['hgab', 'likmo', 'jhui'],
       ['hyut', 'xino', 'jupk'],
       ['fqhg', 'lqk', 'jho']
])
```

Indications : vous pouvez utiliser les set qui permettent d'obtenir un ensemble de valeurs uniques.

```py
print(set("aaabbfffhjik"))
```

In [165]:
def sanitizer(l):
    return ["".join(set(w)) for l2 in l for w in l2]

a = np.array([
    ["aaabbfffhjik", "hhhkkkiooo", "hhjuuk"],
    ["rrrtttyyuuii", "rroooiiiuuu", "jjjhhhaa"],
    ["aaabbgghhh", "iiikkkooomml", "hhhiijjjuu"],
    ["hhhyyytttuu", "xxxnnnooii", "kkkjjjuuppp"],
    ["qqqfffgghhh", "qqqkkklll", "ooohhhjjj"],
])

a = sanitizer(a)
print(a)

['jhbafki', 'hkio', 'hjku', 'utyri', 'ruoi', 'haj', 'hagb', 'olmki', 'hjiu', 'huty', 'xnoi', 'pjku', 'qhfg', 'qkl', 'hjo']


# Exercice formater
Développez un script permettant de nettoyer le dataset students pour obtenir le tableau sanitize :

```py
students = np.array([
    [  "Name: Luce du Coulon" , "phone: 201-20-30"],
    [  "Name: Auguste Dupont", "phone: 201-22-30"],
    [  "Name: Roger Le Voisi", "phone: 201-27-30"],
    [  "Name: Alexandre Lacri", "phone: 201-10-30"],
    [  "Name: Jacques Humber", "phone: 201-20-35"],
    [  "Name: Thérèse Guille", "phone: 201-20-38"],
    [  "Name: Gilles Gros-Bodin", "phone: 201-20-39"],
    [  "Name: Amélie Pires", "phone: 201-25-39"],
    [  "Name: Marcel Laporte", "phone: 201-20-39"],
    [  "Name: Geneviève Marchal", "phone: 301-20-39"]
])

santize = np.array([
       ['Luce du Coulon', '201-20-30']
       ['Auguste Dupont', '201-22-30']
       ['Roger Le Voisi', '201-27-30']
       ['Alexandre Lacri', '201-10-30']
       ['Jacques Humber', '201-20-35']
       ['Thérèse Guille', '201-20-38']
       ['Gilles Gros-Bodin', '201-20-39']
       ['Amélie Pires', '201-25-39']
       ['Marcel Laporte', '201-20-39']
       ['Geneviève Marchal', '301-20-39']
 ])
```

Comptez maintenant le nombre du numéro comportant le nombre 30.
Pour ce faire vous pouvez créer ce que l'on appelle un mask, c'est à dire parcourir le tableau et tester si le pattern "30" est présent dans la chaîne. Le mask devra avoir la même dimension que votre tableau. Une fois celui-ci en place vous pourrez alors l'appliquer de la manière suivante :

```py
sanitize[mask]
```

In [19]:
students = np.array([
    [  "Name: Luce du Coulon" , "phone: 201-20-30"],
    [  "Name: Auguste Dupont", "phone: 201-22-30"],
    [  "Name: Roger Le Voisi", "phone: 201-27-30"],
    [  "Name: Alexandre Lacri", "phone: 201-10-30"],
    [  "Name: Jacques Humber", "phone: 201-20-35"],
    [  "Name: Thérèse Guille", "phone: 201-20-38"],
    [  "Name: Gilles Gros-Bodin", "phone: 201-20-39"],
    [  "Name: Amélie Pires", "phone: 201-25-39"],
    [  "Name: Marcel Laporte", "phone: 201-20-39"],
    [  "Name: Geneviève Marchal", "phone: 301-20-39"]
])

sanitizer = lambda L: [[" ".join(el[0].split()[1:]), " ".join(el[1].split()[1:])] for el in L]
# ["Name:", "Luce", "du", "Coulon"] -> ["Luce", "du", "Coulon"] -> Luce du Coulon
# ["phone:", "201-20-30"] -> ["201-20-30"] -> 201-20-30

sanitize = sanitizer(students)
mask = ["30" in el[1].split("-") for el in sanitize]
print([sanitize[i] for i in range(len(sanitize)) if mask[i]])

[['Luce du Coulon', '201-20-30'], ['Auguste Dupont', '201-22-30'], ['Roger Le Voisi', '201-27-30'], ['Alexandre Lacri', '201-10-30']]